body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(16, 15, 15, 0.945);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  width: 600px;
  height: 90vh;
  background: rgba(21, 21, 21, 0.945);
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin-bottom: 20px;
}

.query-container {
  margin-bottom: 20px;
}

.query-input {
  width: 96%;
  height: 60px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  background-color: rgba(42, 41, 41, 0.945);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  resize: none;
}

.query-input:focus {
  border: 1px solid #848282;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.submit-button,
.clear-button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.submit-button {
  background-color: #007bff;
  font-size: 30px;
  border-radius: 45%;
  color: white;
}

.submit-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.clear-button {
  background-color: #dc3545;
  font-size: 18px;
  border-radius: 14px;
  color: white;
}

.clear-button:hover {
  background-color: #c82333;
}

.messages-container {
  width: 96%;
  max-height: 400px;
  height: 52vh;
  background-color: rgba(42, 41, 41, 0.945);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  border-radius: 4px;
  border: none;
  display: flex;
  flex-direction: column;
}

.user-message-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-message {
  padding: 15px;
  margin-bottom: 10px;
  background: rgba(73, 72, 72, 0.945);
  border-radius: 15px;
  max-width: 90%;
  width: fit-content;
  max-height: fit-content;
  word-wrap: break-word;
}

.ai-message {
  padding: 10px;
  margin-bottom: 10px;
  max-width: 90%;
  width: fit-content;
}